@font-face {
    font-family: 'LXGW';
    src: url("../../res/ttf/LXGWBright-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    background: #e0e0e0;
}

body::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.operationContainer {
    position: absolute;
    left: 100px;
    top: calc(50% - 335px);
    width: 300px;
    height: 350px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #b9b9b9, -20px -20px 60px #ffffff;
    border-radius: 10px;
}

.operationBlock {
    position: absolute;
    top: calc(50% - 145px);
    left: calc(50% - 120px);
    width: 240px;
    height: 290px;
}

.blockTitle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 25px;
}

.blockTitle p {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 25px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
}

.inputContainer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inputContainer p {
    margin: 0;
    padding: 0;
    width: 95px;
    font-size: 20px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    user-select: none;
    text-align: right;
}

.inputContainer input {
    margin: 0;
    padding: 0px 5px;
    width: 145px;
    height: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.usernameContainer {
    top: 75px;
}

.passwordContainer {
    top: 140px;
}

.submitButtonContainer {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.submitButtonContainer button {
    margin: 0;
    padding: 0;
    width: 60px;
    height: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    -webkit-user-select: none;
    user-select: none;
}

.dataContainer {
    position: absolute;
    left: 100px;
    bottom: calc(50% - 335px);
    width: 300px;
    height: 250px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #b9b9b9, -20px -20px 60px #ffffff;
    border-radius: 10px;
}

.textDataContainer {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 240px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.textDataContainer p {
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    -webkit-user-select: none;
    user-select: none;
}

.graphDataContainer {
    position: absolute;
    left: 49px;
    top: 84px;
    width: 220px;
    height: 135px;
    background: #f5f5f5;
    border: 1px solid #646464;
}

.midLine {
    position: absolute;
    left: 0;
    top: calc(50% - 0.5px);
    width: 100%;
    height: 0px;
    border: 0.5px solid #b9b9b9;
    border-left: none;
    border-right: none;
}

.percentageContainer {
    position: absolute;
    left: 20px;
    top: 85px;
    width: 25px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.percentageContainer p {
    margin: 0;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

.boardContainer {
    position: absolute;
    left: 500px;
    top: calc(50% - 335px);
    width: 600px;
    height: 670px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #b9b9b9, -20px -20px 60px #ffffff;
    border-radius: 10px;
}

.outerBorder {
    position: absolute;
    left: calc(50% - 280px);
    top: calc(50% - 315px);
    width: 560px;
    height: 630px;
    border: 2px solid #646464;
}

.vertical {
    position: absolute;
    width: 0px;
    height: 280px;
    border: 1px solid #646464;
    border-top: 0px;
    border-bottom: 0px;
}

.horizontal {
    position: absolute;
    width: 560px;
    height: 0px;
    border: 1px solid #646464;
    border-left: 0px;
    border-right: 0px;
}

.slope1 {
    position: absolute;
    width: 198px;
    height: 0px;
    border: 1px solid #646464;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slope2 {
    position: absolute;
    width: 198px;
    height: 0px;
    border: 1px solid #646464;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.riverContainer {
    position: absolute;
    left: 0;
    top: calc(50% - 35px);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.riverContainer p {
    margin: 0;
    padding: 0;
    font-family: "LXGW";
    font-size: 30px;
    font-weight: bold;
    -webkit-user-select: none;
    user-select: none;
}

.dot {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 5px solid #646464;
}